---
# tasks file for roles/sonarqube

- name: Config vm and fs
  become: true
  ansible.builtin.copy:
    dest: /etc/sysctl.d/99-sonarqube.conf
    src: ../files/99-sonar-conf_1

- name: Config allowed number of threads and file descriptors
  become: true
  ansible.builtin.copy:
    dest: /etc/security/limits.d/99-sonarqube.conf
    src: ../files/99-sonar-conf_2

- name: Reboot
  become: true
  ansible.builtin.reboot:
    reboot_command: shutdown -r now
    post_reboot_delay: 60
    test_command: whoami

- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Install packages
  become: true
  ansible.builtin.apt:
    pkg:
      - unzip
      - openjdk-11-jre
      - postgresql-14

- name: Copy setup_db.sql
  ansible.builtin.copy:
    dest: /tmp/setup_db.sql
    src: ../files/setup_db.sql

- name: Run SQL script
  become: true
  ansible.builtin.shell:
    chdir: /tmp
    cmd: "sudo -u postgres psql -f setup_db.sql && rm setup_db.sql"

- name: Download SonarQube
  ansible.builtin.shell:
    chdir: "{{SQ_HOME}}"
    cmd: "wget -O {{SQ_ZIP}} {{SQ_ZIP_URL}} && unzip {{SQ_ZIP}} && rm {{SQ_ZIP}}"

- name: Configure SonarQube
  ansible.builtin.shell:
    chdir: "{{SQ_HOME}}/{{SQ_WORKDIR}}"
    cmd: "sed -i 's/^#[ ]*sonar.jdbc.username/sonar.jdbc.username=sonarqube/' conf/sonar.properties && \
          sed -i 's/^#[ ]*sonar.jdbc.password/sonar.jdbc.password=sonarqube/' conf/sonar.properties && \
          sed -i 's/^#[ ]*sonar.web.host/sonar.web.host=10.0.0.55/' conf/sonar.properties"

- name: Start SonarQube
  ansible.builtin.shell:
    chdir: "{{SQ_HOME}}/{{SQ_WORKDIR}}"
    cmd: "./bin/linux-x86-64/sonar.sh start"
